<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<databaseKey>sso</databaseKey>
	<databaseVersion>0</databaseVersion>
    <class>org.fjw.openfire.plugin.SSOPlugin</class>
    <name>sso</name>
    <description>单点登录</description>
    <author>FJW</author>
    <version>1.0</version>
    <date>9/25/2013</date>
    <minServerVersion>3.7.0</minServerVersion>
    <adminconsole>
     <tab id="sso-tab" name="SSO"
                url="sso-server.jsp"
                description="SSO">
		<sidebar id="sso-server-sidebar" name="第三方服务器管理">
                   <item id="sso-server-manage" name="管理"
                         url="sso-server.jsp"
                         description="浏览编辑服务器列表"/>
                   <item id="sso-server-add" name="添加"
                         url="sso-server-add.jsp"
                         description="添加服务器"/>
		</sidebar>
     </tab>
    </adminconsole>
</plugin>
